/* root Element --> html */
:root {
  --bg-clr: #23424a;
  --btn-bg-clr: #38cfd9;
  --txt-clr: #fff;
  --h1-fs: 3rem;
  --h2-clr: hsl(280, 22%, 49%);
  --box-bg: hsl(120, 100%, 25%);
  --section-bg: #136c72;
  --section-txt-clr: hsl(0, 0%, 100%);
  --row-text-clr: #3a3a3a;
}

/* Universal Selector */

*,
*::before,
*::after {
  box-sizing: border-box;
  /* background: rgb(0 100 0 / 0.1); */
}

/* Body */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

/* Heading */
h1 {
  font-size: var(--h1-fs);
}

/* Responsive container */
.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

/*  */
.hero {
  padding: 100px 0;
  background-color: var(--bg-clr);
  color: var(--txt-clr);
}

/* text */
.hero__text {
  width: 60%;
}

/* Paragraph */
.hero p {
  margin-bottom: 3em;
}

/* Button */
.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--bg-clr);
  font-weight: 900;
  background-color: var(--btn-bg-clr);
  padding: 0.75em 2em;
  border-radius: 100px;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}

.container-2 {
  margin: 2em;
}

.row {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.col {
  width: 100%;
  border-radius: 1%;
  color: clr;
  padding: 1em;
  line-height: 1.5;
}

.headings {
  color: var(--h2-clr);
}

.col p {
  font-size: 1.3rem;
  color: var(--row-text-clr);
}

/* Section layout with flexbox and specific background color */
.section {
  display: flex;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  gap: 2em;
  padding: 4em;
  background: var(--section-bg);
}

/* Parts of a section with equal width and padding */
.section__part1,
.section__part2 {
  width: 50%;
  padding: 0 4em;
}

/* Headings within section parts with specific color and size */
.section__part1 h1,
.section__part2 h1 {
  color: var(--section-txt-clr);
  font-size: 2.25rem;
}

/* Paragraphs within section parts with specific color and font family */
.section__part1 p,
.section__part2 p {
  color: hsl(0, 3%, 82%);
  font-family: system-ui, "Roboto Regular";
}
